*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #fefefe;
  padding: 2rem 0;
  min-height: 100vh;
}

.main__center {
  max-width: 90%;
  width: 1170px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(209, 219, 219);
}

.logout-btn {
  padding: 1rem;
  background-color: blanchedalmond;
  margin-left: auto;
  opacity: .7;
  transition: all .4s;
}

.logout-btn:hover {
  /* background-color: rgb(214, 208, 198); */
  opacity: 1;
}